name: Tests

on:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  test_shell:
    name: Test shell ${{ matrix.shell }}
    runs-on: windows-latest
    strategy:
      matrix:
        shell:
          - powershell
          - pwsh
    defaults:
      run:
        shell: ${{ matrix.shell }}
    steps:
      - name: Checkout Bucket
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 2
          path: 'self_bucket'
      - name: Checkout Scoop
        uses: actions/checkout@v6.0.2
        with:
          repository: ScoopInstaller/Scoop
          path: 'scoop_core'
      - name: Init and Test on ${{ matrix.shell }}
        run: |
          $env:SCOOP_HOME="$(Convert-Path '.\scoop_core')"
          .\scoop_core\test\bin\init.ps1
          .\self_bucket\bin\test.ps1
